<% if flights.nil? %>
  <div>
  </div>
<% elsif flights.empty? %>
  <div>
    No flights were found that match your search. Try a search with direct flights on dates in the past.
  </div>
<% elsif flights %>
  <%= form_with url: flights_url, method: :get do |form| %>
    <% flights.each do |flight| %>
      <p>
        <strong>From:</strong>
        <%= flight.departure_airport.name %>
      </p>
      <p>
        <strong>To:</strong>
        <%= flight.arrival_airport.name %>
      </p>
      <p>
        <strong>Time:</strong>
        <%= Time.at(flight.taking_off) %>
      </p>
    <% end %>
  <% end %>
<% end %>